body {
	background: #d8d8d8 url(./bg.gif) repeat-y top left;
	margin: 0;
	color: #666;
}
.page-wrapper {
	background: url(./bg_rel-one.gif) no-repeat bottom right;
}
.intro {
	background: url(./bg_pattern.gif) repeat top left;
	border-bottom: 2px solid #fff;
}
header {
	background:#9bec37 url(./bg_header.gif) repeat-y top left;
	height: 180px;
	border-bottom: 2px solid #fff;
}
h1, h2 {
	display: none;
}
p {
	font-size: 11px;
	text-align: justify;
}
.summary {
	height: 166px;
	width: 735px;
	background: #100b0a url(./bg_sub_header.jpg) no-repeat top right;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.summary p:first-child {
	width: 160px;
	margin: 0;
	padding: 14px;
}
.summary p:last-child {
	padding: 0 14px 14px 14px;
	margin: 0;
	width: 130px;
}
.preamble {
	margin-left: 233px;
	background: #f90 url(./bg_preamble.gif) no-repeat top right;
	width: 500px;
	border-right: 2px solid #fff;
	padding-bottom: 16px;
}
.preamble p, .summary p:last-child {
	width: 300px;
	line-height: 1.5;
	font-size: 10px;
}
.supporting {
	background: url(./bg_left.gif) repeat-y top left;
}
.supporting > div {
	margin-left: 233px;
	border: 1px solid #bbb;
	width: 498px;
	margin-bottom: 2px;
}
.requirements {
	background: #f5f5f5;
	margin-bottom: 16px;
}
footer {
	border-top: 2px solid #fff;
	background: #9bec37 url(./bg_footer.gif) no-repeat top left;
	height: 12px;
	padding: 14px 0 8px 252px;
}
aside {
	position: absolute;
	background: #b5b5b5;
	top: 350px;
	padding: 12px;
	width: 207px;
	border-right: 2px solid #fff
}
aside > div > div{
	background: #dfdfdf;
	border: 2px solid #fff;
	padding: 12px;
	margin: 0 0 12px 0;
}