body, html {
    height: 100%;
}
.content {
    position: relative;
    height: 100%;
    background: #f2f2f2;
    overflow: hidden;
    .yudi {
        position: absolute;
        opacity: 0;
        animation: drops 1.2s cubic-bezier(0.54, 0, 0.18, 0.34) infinite;
        // width: 4px;
        // height: 6px;
        // background: #ccc;
        // clip-path: ellipse(10% 30% at 50% 50%);
        width: 60px;
        height: 60px;
        background: url(./hongbao.png) no-repeat;
        background-size: auto 60px;
    }
}
@keyframes drops {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(10px, 100vh, -10px);
    }
}