h1 {
    text-align: center;
}
.container {
    position: relative;
    width: 960px;
    height: 450px;
    margin: 60px auto;
}
body {
    background: #eee;
}
img {
    position: absolute;
    z-index: 1;
    padding: 10px 10px 15px;
    background: #fff;
    border: 1px solid #ddd;
    transition:  .5s;
}
img:hover {
    z-index: 2;
    transform: rotate(0) ;
    transform: scale(1.2);
    box-shadow: 10px 10px 15px #ccc;
}
.pic1 {
    left: 400px;
    top: 0;
    transform: rotate(-5deg);
}
.pic2{
	top: 0; 
	left: 600px; 
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg);
}

.pic3
{
	bottom: 0; 
	right: 0; 
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}
	
.pic4
{
	bottom:0; 
	left:300px; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic5
{
	bottom: 0; 
	left: 0; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic6
{
	top: 0; 
	left:0; 
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg);
}

.pic7
{
	top: 0; 
	left: 850px; 
	-webkit-transform: rotate(20deg); 
	-moz-transform: rotate(20deg); 
	transform: rotate(20deg);
}

.pic8
{
	bottom: -20px; 
	right: 630px; 
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}

.pic9
{
	top: 90px; 
	left: 550px; 
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	transform: rotate(15deg);
}

.pic10
{
	left:180px; 
	top:20px; 
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}